[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
easystore = {git = "https://github.com/didhat/estore.git"}

[dev-packages]

[requires]
python_version = "3.9"
